# Ignore bundler config
/.bundle
bundle.js
bundle.js.map

# Ignore all logfiles and tempfiles
/log/*
/tmp/*
npm-debug.log

# Ignore node modules and DS Store
node_modules/
.DS_Store

# Ignore ENV variables and todo list
.env
.todo

# Ignore application configuration
/config/application.yml
