body {
	margin: 0 auto;
	font-family: $body;
	font-size: 16px;
}

button {
	padding: 5px 10px;
	border-radius: 3px;
	box-sizing: border-box;
	border: 1px solid $blue;
	color: $blue;
	text-align: center;

	&:hover {
		color: white;
		background-color: $blue;
	}
}

input {
	border-bottom: 1px solid lighten($gray, 60%);
	margin-left: 5px;
	width: 200px;
	padding: 5px 0;
}
