body {
	margin: 0 auto;
	font-family: $body;
	font-size: 16px;
}

button {
	color: white;
	background-color: $blue;
	padding: 5px 20px;
	border-radius: 3px;
	text-align: center;

	&:hover {
		background-color: lighten($blue, 10%);
	}
}

input {
	border-bottom: 1px solid lighten($gray, 60%);
	margin-left: 5px;
	width: 200px;
	padding: 5px 0;
}
