.card, .add-card, .trash-card {
  width: 200px;
  height: 150px;
  border-radius: 3px;
  margin: 5px;
}

.card {
  box-sizing: border-box;
  background-color: $offwhite;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  textarea {
    text-align: center;
    margin-left: 0;
    resize: none;
  }
}

.card-buttons {
  position: absolute;
  bottom: 10px;
  left: 0;
  box-sizing: border-box;
  padding: 0 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;

  button {
    background-color: transparent;
    color: black;
    width: 25px;
    height: 25px;
    padding: 0;

    &:hover {
      background-color: transparent;
    }
  }
}



.trash-card {
  background-color: lightgray;
  display: flex;
  align-items: center;
  justify-content: center;
}
