.deck-show-container {
  width: 80vw;
  margin: 0 auto;
}

.cards-holder {
  display: flex;
  flex-wrap: wrap;
}

.deck-show-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px auto 0 auto;
  width: 600px;
  position: relative;

  input {
    margin-left: 0;
    font-size: 36px;
    text-align: center;
    border: 0;
  }

  textarea {
    width: 400px;
    text-align: center;
  }

  button {
    background-color: transparent;
    color: black;
    font-size: 24px;
    position: absolute;
    right: 0;
  }
}

.cards-header {
  text-align: center;
}

.add-card-form {
  overflow: hidden;
  transition: height 1s;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  textarea {
    border: 1px solid $lightgray;
    width: 630px;
    height: 100px;
    margin-bottom: 10px;
  }
}

.add-card-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: $seagreen;
  margin-left: 5px;
}
