.decks-container {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

.deck-widget {
  width: 200px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  border-radius: 25px;
  background-size: 150px 150px;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;

  &:hover {
    cursor: pointer;
    color: white;
  }
}

.progress {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: white;
  opacity: 0.5;
}

.zero-fifths {
  width: 200px;
  height: 200px;
  border-radius: 0;
}

.one-fifth {
  -webkit-clip-path: polygon(50% 50%, 100% 34%, 100% 100%, 0 100%, 0 0, 50% 0);
  clip-path: polygon(50% 50%, 100% 34%, 100% 100%, 0 100%, 0 0, 50% 0);
}

.two-fifths {
  -webkit-clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 86% 100%);
  clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 86% 100%);
}

.three-fifths {
  -webkit-clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 14% 100%);
  clip-path: polygon(50% 50%, 50% 0, 0 0, 0 100%, 14% 100%);
}

.four-fifths {
  -webkit-clip-path: polygon(50% 50%, 50% 0, 0 0, 0 34%);
  clip-path: polygon(50% 50%, 50% 0, 0 0, 0 34%);
}

.foreign-languages {
  background-image: url("foreign_languages.png");
  background-color: blanchedalmond;
}

.mathematics {
  background-image: url("mathematics.png");
  background-color: yellow;
}

.architecture {
  background-image: url("architecture.png");
  background-color: lightskyblue;
}

.art {
  background-image: url("art.png");
  background-color: red;
}

.geography {
  background-image: url("geography.png");
  background-color: green;
}

.literature {
  background-image: url("literature.png");
  background-color: cornflowerblue;
}

.music {
  background-image: url("music.png");
  background-color: pink;
}

.food-drink {
  background-image: url("food_drink.png");
  background-color: black;
}

.health {
  background-image: url("health.png");
  background-color: black;
}

.history {
  background-image: url("history.png");
  background-color: black;
}

.miscellaneous {
  background-image: url("miscellaneous.png");
  background-color: black;
}

.pop-culture {
  background-image: url("pop_culture.png");
  background-color: black;
}

.religion {
  background-image: url("religion.png");
  background-color: black;
}

.science {
  background-image: url("science.png");
  background-color: black;
}

.technology {
  background-image: url("technology.png");
  background-color: black;
}

.test-prep {
  background-image: url("test_prep.png");
  background-color: black;
}
