header {
  height: 60px;
  background-color: $darkgray;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 5px solid $coral;
  padding: 0 40px;
}

.header-title {
  font-size: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;

  span {
    font-weight: 700;
    margin-left: 10px;
  }
}

.header-logo {
  width: 25px;
  height: 25px;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.header-nav {
  display: flex;
  width: 140px;
  align-items: center;
  justify-content: space-between;

  a:hover {
    color: $blue;
  }
}
