.profile-container {
  text-align: center;
}

.profile-header {
  height: 50px;
  margin: 70px auto 10px auto;
  width: 50vw;
}

.add-deck-btn {
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: $seagreen;
  margin-left: 5px;
}

.add-deck-form {
  overflow: hidden;
  transition: height 1s;
  display: flex;
  flex-direction: column;
  width: 650px;
  margin: 0 auto;

  input, textarea {
    text-align: left;
  }

  input {
    margin: 0 0 10px 0;
  }

  textarea {
    border: 1px solid $lightgray;
    width: 630px;
    height: 100px;
    margin-bottom: 10px;
  }

  button {
    width: 30px;
  }

  .react-autosuggest__container {
    position: relative;
  }

  .react-autosuggest__input {
    margin-left: -20px;
    border: 0;
    border-bottom: 1px solid $lightgray;
    border-radius: 0;
  }

  .react-autosuggest__suggestions-container {
    position: absolute;
    color: black;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 0 15px;
    bottom: 0;
    left: 0;
    z-index: 2;
  }
}

.tags-container {
  display: flex;
  flex-wrap: wrap;

  li {
    background-color: $lightgray;
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 10px;
  }

  button {
    background-color: transparent;
    color: black;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 15px;
    height: 15px;
    border-radius: 0;
    margin-right: 5px;
    line-height: 0;
  }
}

.remove-tag-btn {
  &:hover {
    cursor: pointer;
  }
}

.add-deck-form-bottom {
  display: flex;
  padding: 10px 0;
  justify-content: space-between;
  align-items: center;
  padding-right: 20px;
}

.privacy-section {
  display: flex;
  justify-content: space-between;
  width: 155px;
  position: relative;
}

.privacy-selected {
  font-weight: bold;
}

.privacy-toggler {
  position: absolute;
  left: 48%;
  transform: translateX(-50%);
  width: 40px;
  height: 20px;
  border-radius: 50px;
  background-color: lighten($blue, 20%);

  .toggle {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: $blue;
    z-index: 5;
  }

  &:hover {
    cursor: pointer;
  }
}

.profile-decks {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 50vw;
  margin: 0 auto 30px auto;

  > p {
    font-style: italic;
    position: absolute;
    top: 25px;
    left: 10px;
  }
}
