.search-page {
  display: flex;
}

.search-bar-container {
  width: 30vw;
  position: fixed;
  top: 55px;
}

.search-results-box {
  width: 70vw;
  position: absolute;
  right: 0;
  top: 56px;
}

.search-results-popular {
  font-size: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 30px 30px 0 30px;

  li {
    background-color: lighten($lightgray, 5%);
    padding: 5px 10px;
    margin: 5px;

    &:hover {
      background-color: $lightgray;
    }
  }
}

.search-results {
  background-color: $offwhite;
  box-sizing: border-box;
  padding: 20px;
  min-height: calc(100vh - 160px);
}

.search-results-title {
  text-transform: uppercase;
  text-align: center;
  font-weight: 400;
  line-height: 0;
  color: $gray;
  font-size: 14px;
}

.tag-link {
  color: $blue;
  &:hover {
    cursor: pointer;
  }
}

.search-result-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  margin: 0 20px;
  border-bottom: 1px solid $lightgray;
  box-sizing: border-box;
  padding: 0 15px;
  position: relative;
}

.search-result-title {
  font-size: 24px;
  color: $blue;
  width: 40%;
}

.search-result-info {
  position: absolute;
  left: 40%;
}

.search-entry-box {
  height: 100px;
  z-index: 10;
  background-color: darken($darkgray, 5%);
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  position: relative;

  i {
    position: absolute;
    top: 50%;
    left: 25px;
    transform: translateY(-50%);
    font-size: 20px;
    color: darken($blue, 15%);
  }

  .react-autosuggest__container {
    width: calc(30vw - 25px);
    height: 60px;
    color: white;
    font-weight: lighter;
    background-color: lighten($gray, 5%);
    border-radius: 2px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .react-autosuggest__input {
    margin-left: 0;
    border: 0;
    padding-left: 40px;
    height: 60px;

    &::-webkit-input-placeholder { color: white; }
    &::-moz-placeholder { color: white; }
    &:-ms-input-placeholder { color: white; }
    &:-moz-placeholder { color: white; }
  }
}

.suggestion {
  background-color: rgba(255, 255, 255, 0.8);
  color: $blue;
  font-weight: 400;
  line-height: 64px;
  box-sizing: border-box;
  padding-left: 20px;

  &:hover {
    background-color: white;
    cursor: pointer;
  }
}

.search-entry-img {
  height: 800px;
  background-image: url(image_path("search.jpeg"));
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-filter: brightness(0.9);
  filter: brightness(0.9);
  z-index: -1;

  aside {
    color: white;
    text-align: right;
    padding: 150px 50px;
    font-size: 24px;
    font-weight: lighter;
  }
}

.search-results-header {
  height: 100px;
  background-color: $darkgray;
  color: $coral;
  font-size: 32px;
  font-weight: lighter;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 30px;
}

.unsubscribe-btn {
  background-color: transparent;
  color: $blue;

  &:hover {
    background-color: transparent;
  }
}
