.deck-train-container {
  display: flex;
  width: 100vw;
}




.training-sidebar {
  width: 25%;
  height: 100vh;
  position: relative;
  background-color: red;
  background-color: lighten($darkgray, 3%);

  .main-nav {
    position: absolute;
    background-color: black;
    width: 35px;
    padding-top: 10px;
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    color: $blue;
    align-items: center;
    z-index: 10;
  }
}

.training-nav {
  position: absolute;
  right: 0;
  width: 100%;
  padding-left: 35px;
  box-sizing: border-box;
}

.training-nav-title {
  box-sizing: border-box;
  background-color: lighten($darkgray, 10%);
  color: lighten($mediumdarkgray, 30%);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  font-size: 20px;
  box-sizing: border-box;
  padding-left: 10px;

  span {
    color: white;
    margin-left: 5px;
  }
}

.training-progress {
  width: 100px;
  height: 300px;
  background-color: green;
}

.progress-bar {
  width: 100px;
  background-color: orange;
}




.card-show-container {
  width: 75%;
  height: 100vh;
  background-color: $offwhite;
  box-sizing: border-box;
  padding: 10vh 70px;
  font-size: 24px;
}

.card-show {
  width: 100%;
  height: 65vh;
  background-color: white;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(200,200,200,1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(200,200,200,1);
  box-shadow: 0px 2px 2px 0px rgba(200,200,200,1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.card-show-btn {
  height: 15%;
  width: 100%;
  margin-top: 5vh;
  color: $blue;
  background-color: $lightgray;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(200,200,200,1);
  -moz-box-shadow: 0px 2px 2px 0px rgba(200,200,200,1);
  box-shadow: 0px 2px 2px 0px rgba(200,200,200,1);

  &:hover {
    background-color: $lightgray;
  }
}

.flip-container {
  width: 100%;
  height: 65vh;
  perspective: 1000px;
}

.flip-container.flip .flipper {
  transform: rotateY(180deg);
}

.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}

.front, .back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  transform: rotateY(0deg);
}

.back {
  transform: rotateY(180deg);
}
